@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jss1796 {
  top: -560px;
  left: -40px;
  width: 110%;
  height: 1060px;
  opacity: 0.27;
  position: absolute;
  transform: rotate(-10deg);
  background: #B2EBF2;
  border-radius: 80px;
}